body {
    box-sizing: border-box;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section{
    min-width: 100%;
    min-height: 100%;
}

h1 {
    color: rgb(52, 154, 52);
    font-family: "Moderustic", san-erif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* Estilo para las columnas con scroll */
.column {
    max-height: 500px;
    overflow-y: auto;
}



.box {
    background-color: #1e1e1e;
    /* Color más claro que el fondo */
    border: 2px solid rgb(52, 154, 52);
    /* Borde verde */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrar el texto horizontalmente */
    align-items: center;
    /* Centrar el texto verticalmente */
}

.task {
    padding: 10px;
    text-align: left;
    background-color: #333333;
    /* Color de fondo ligeramente más claro */
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    color: #ffffff;
    /* Asegúrate de que el texto sea visible */
}


#add-task-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #99e9f2;
    color: black;
    font-size: 30px;
    border: none;
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    outline: none;
    /* Elimina el borde azul en navegadores como Firefox */
}

#add-task-btn:hover {
    background-color: #7bbcc4;
    /* Color más oscuro al pasar el ratón */
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#btn-desktop{
    display: none;
}

/* Estilo para pantallas grandes: scroll horizontal */
@media (min-width: 1440px) {
}

/* Estilo para pantallas medianas: wrap de columnas */
@media (max-width: 768px) {
    
}