/*Declaración de Variables*/
:root{
    --background-color: #121212;
    --font-color: white;
    --primary-color: rgb(52, 154, 52);
    --light-background: #1e1e1e;
    --very-light-background: #333333;
    --create-task-button: #99e9f2;
    --create-task-hover: #7bbcc4;
}

*{
    color: var(--font-color);
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

#modo-oscuro {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: grey;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: url('luna.png');
    background-size: cover;
    background-position: center;
}

#modo-oscuro.light-mode {
    background-image: url('sol.png');

}

#modo-oscuro:hover {
    background-color: rgb(177, 188, 177);
}


.section{
    min-width: 100%;
    min-height: 100%;
}

h1 {
    font-family: "Moderustic", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.title, .subtitle{
    color: var(--font-color);
}

/* Estilo para las columnas con scroll */
.column {
    max-height: 500px;
    overflow-y: auto;
}



.box {
    background-color: var(--light-background);
    /* Color más claro que el fondo */
    border: 2px solid var(--primary-color);
    /* Borde verde */
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrar el texto horizontalmente */
    align-items: center;
    /* Centrar el texto verticalmente */
}

.task {
    padding: 10px;
    text-align: left;
    background-color: var(--very-light-background);
    /* Color de fondo ligeramente más claro */
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;

}


#add-task-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(63, 186, 63);
    color: rgb(248, 244, 244);
    font-size: 30px;
    border: none;
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    outline: none;
    /* Elimina el borde azul en navegadores como Firefox */
}

#add-task-btn:hover {
    background-color: green;
    /* Color más oscuro al pasar el ratón */
}
#btn-desktop {
    position: fixed; 
    right: 20px; 
    top: 20px; 
    background-color: rgb(63, 167, 63);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#btn-desktop:hover {
    background-color: green;
}


::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.drag-over {
    border: 2px dashed #00d1b2;
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    #btn-desktop:hover{
        display: none;
    }
    #btn-desktop{
        display: none;
    }
}


/* Estilo para pantallas medianas: wrap de columnas */
@media (min-width: 768px) {
    #add-task-btn{
        display: none;
        background-color: green;
    }


    #btn-desktop:hover{
        display: block;
        background-color: green;
    }

    .columns-container {
        display: flex;
        flex-wrap: wrap; /* Permite que las columnas se muevan a la siguiente fila si es necesario */
        justify-content: center; /* Centra las columnas en la fila */
    }

    .column {
        flex: 1 0 calc(33.333% - 20px); /* Cada columna ocupa un tercio del ancho de la fila */
    
        min-width: 300px; /* Evita que las columnas sean demasiado pequeñas */
    }
}


@media (min-width: 1440px) {

    .container{
        min-width: 90vw;
        min-height: 100%;
    }

    .columns-container {
        display: flex;
        flex-wrap: nowrap; /* No permite que las columnas se muevan a la siguiente fila */
        overflow-x: scroll; /* Activa el scroll horizontal */
        scroll-snap-type: x mandatory; /* Hace que el scroll "encaje" en las columnas */
        width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
        padding-bottom: 20px; /* Asegura que el contenido tenga espacio suficiente abajo */
        margin: 0; /* Elimina márgenes que puedan causar desplazamiento */
        justify-content: flex-start; /* Justifica el contenido */
    }
    
    .column {
        min-width: calc(100% / 3); /* Asegura que cada columna ocupe un tercio del ancho de la pantalla */
        scroll-snap-align: end; /* Hace que las columnas "encajen" al hacer scroll */
        margin: 0; /* Elimina márgenes que puedan afectar el scroll */
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    }
        
    body{
        min-height: 100vh;
        background-color: var(--background-color);
    }
    
    /* Asegúrate de que el contenedor ocupe todo el alto y tenga fondo */
    .section {
        background-color: var(--background-color);
        padding: 0;
        min-height: 100%;
    }
    #save-task-btn{
        background-color: rgb(86, 208, 86);
        color:white;
    }
    #save-task-btn:hover{
        background-color: green;
    }

     /* Estilo para los botones en el pie del modal */
    .modal-card-foot .button {
        margin-right: 40px; 
    }

    #save-task-btn {
        background-color: rgb(86, 208, 86);
        color: white;
        margin-right: 400px; 
    }

    #save-task-btn:hover {
        background-color: green;
    }

}