h1 {
    background-color: #121212;
    color: #28a745;
    font-family: 'Matemasie', serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

body {
    background-color: #121212;
    /* Un color oscuro */
    color: #ffffff;
    font-family: Arial, sans-serif;
    /* Fuente opcional */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    width: 100%; /* Ocupa todo el ancho de la página */
}


.box {
    background-color: #1e1e1e; /* Color ligeramente más claro que el fondo */
    border: 2px solid #333333; /* Borde oscuro */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    flex: 1; /* Hacer que todas las columnas tengan el mismo ancho y ocupen todo el espacio disponible */
    display: flex;
    justify-content: center; /* Centrar el texto horizontalmente */
    align-items: center; /* Centrar el texto verticalmente */
}


